svg {
  height: 100%;
  width: 100%;
}

#svg-wrapper {
  border: 1px solid red;
  box-sizing: border-box;
  height: 160px;
  position: relative;
  width: 160px;
}

#svg-wrapper::before, #svg-wrapper::after {
  background: aqua;
  box-sizing: border-box;
  content: "";
  display: block;
  position: absolute;
}

#svg-wrapper::before {
  width: 1px;
  height: 100%;
  transform: translateX(79px);
}

#svg-wrapper::after {
  height: 1px;
  width: 100%;
  transform: translateY(-83px);
}

form label {
  border: 1px solid black;
  display: inline-block;
  height: 16px;
  width: 16px;
}

form input:checked + label {
  outline: 2px solid dodgerblue;
  outline-offset: 2px;
}

.visually-hidden,
form input[type="radio"] {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

label[aria-label=transparent] {
  background-image: url(./transparent.svg);
  background-size: cover;
  background-repeat: no-repeat;
}

details label > * {
  display: block;
  margin-block-end: 0.5rem;
}